<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: coral;">
    <h1>Please provide only matching data</h1>
    <button><h1><a href="/showData">Show Data</a></h1></button>
    <button><h1><a href="/dashboard">Go to Dashboard</a></h1></button>
    <h1><%=deletemessage%></h1>
</body>
</html>