<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: antiquewhite;">
    <form action="/update" method="post">
        Updata name : <input type="text" name="name" id=""><br>
        Updata userid : <input type="text" name="userid" id="">
        <input type="submit" name="" id=""><br>
    </form>
    <h1 style="color: orange;"><%=updatemessage%></h1> <br>
    <button><h1><a href="/showData">Show Updated Data</a></h1></button>
    <button><h1><a href="/dashboard">Go to Dashboard</a></h1></button>
</body>
</html>